.bill_link{
    display: flex;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    color: #333;
    margin: 0 20px;
    margin-bottom: 30px;
}

.bill_link:hover {
    background-color: #e0e0e0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}